[Desktop Entry]
Encoding=UTF-8
Name[es]=PeasyScale | reescalar JPEG
Name=PeasyScale JPEG resizer
Icon=mini-camera.xpm
Comment=JPEG image resizer
Exec=peasyscale
Terminal=false
Type=Application
Categories=X-GraphicUtility
GenericName=PeasyScale
