[Desktop Entry]
Encoding=UTF-8
Name=XChat IRC
Name[zh_TW]=網路清談
Comment[de]=IRC-Client
Comment[es]=Xchat | Chatear en IRC
Comment[fi]=IRC-sovellus
Comment[fr]=Client IRC
Comment[hu]=IRC-kliens
Comment[lt]=IRC klientas
Comment[no]=IRC-klient
Comment[pt]=Xchat | bate-papo IRC
Comment[sl]=Odjemalec IRC
Comment[sv]=IRC-klient
Comment[ro]=Client de IRC
Comment[zh_TW]=X-Chat 聊天程式
Comment=Chat with other people using Internet Relay Chat
Exec=xchat
Icon=mini-Setup
Terminal=false
Type=Application
Categories=Network
StartupNotify=true
