[Desktop Entry]
Version=1.0
Name[es]=Sysprof | perfiles
Name=Sysprof Profiler
Comment=A system-wide linux profiler
Exec=sysprof
Icon=sysprof.xpm
Type=Application
Categories=Development
