[Desktop Entry]
Encoding=UTF-8
Name=Xvesa Video Wizard
Name[es]=Asistente de Video Xvesa
Name[es_AR]=Asistente de Video Xvesa
Name[es_UY]=Asistente de Video Xvesa
Name[es_ES]=Asistente de Vídeo Xvesa
Name[es_ES@euro]=Asistente de Vídeo Xvesa
Name[es_MX]=Asistente de Video Xvesa
Name[es_PY]=Asistente de Video Xvesa
Name[es_HN]=Asistente de Video Xvesa
Name[es_GT]=Asistente de Video Xvesa
Name[es_CR]=Asistente de Video Xvesa
Name[es_US]=Asistente de Video Xvesa
Name[es_CL]=Asistente de Video Xvesa
Name[es_CO]=Asistente de Video Xvesa
Name[es_VE]=Asistente de Video Xvesa
Name[es_SV]=Asistente de Video Xvesa
Name[es_EC]=Asistente de Video Xvesa
Name[es_BO]=Asistente de Video Xvesa
Name[es_NI]=Asistente de Video Xvesa
Name[es_DO]=Asistente de Video Xvesa
Name[es_PA]=Asistente de Video Xvesa
Name[es_PE]=Asistente de Video Xvesa
Name[pt]=Assistente de Video Xvesa
Name[pt_BR]=Assistente de Video Xvesa
Name[it]=Assistente di Video Xvesa
Icon=wizard16.xpm
Comment=Xvesa Video Wizard
Exec=video-wizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Xvesa Video Wizard
